.LoginForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #F2F2F2;
    color: #f5f5f5;
    color: #E5E5E5;
    border-radius: 6px;
    padding: 40px; 
}