@import url("https://fonts.googleapis.com/css?family=Ubuntu");

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:#616161;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(30px + 2vmin);
}

a {
  margin: 20px;
  text-decoration: none;
  color: #F2F2F2;
}


h2 {
  text-align: center;
  color: black;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.learn-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #F2F2F2;
  color: black;
  border-radius: 6px;
  padding: 40px;
  background-color: #f2f2f2;
  max-width: 400px;
}
.currentWord {
  font-weight: 600;
  color: #7a7171;
}
button {
  display: border-box;
  border: 2px solid white;
  background: #75B1F5;
  padding: 10px;
  margin-bottom: 10px;

}

button:hover {
  border: 2px solid #75B1F5;
  background: white;
  color: black;
  padding: 10px;
  cursor: pointer;
}

input {
  font-size: 1em;
  margin: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 4px

}
label {
  margin: 20px;
  padding: 20px;
}

